@{
    ViewBag.Title = "Index";
}


@section LeftNav {
  <a href="#" > left navigation 1</a> <br />
            <a href="#" > left navigation 1</a><br />
            <a href="#" > left navigation 1</a><br />
            <a href="#" > left navigation 1</a><br />
            <a href="#" > left navigation 1</a><br />
            <a href="#" > left navigation 1</a><br />
            <a href="#" > left navigation 1</a><br />
            <a href="#" > left navigation 1</a><br />
}
<h2>
    Index</h2>
<p>
    The default layout takes an entire view and displays the view in the location where
    the RenderBody() helper method is called. You might want to create a more complicated
    layout that has multiple sections of content. For example, you might want to create
    a view with a standard header and footer section in which you can place banner advertisements.
    The default layout takes an entire view and displays the view in the location where
    the RenderBody() helper method is called. You might want to create a more complicated
    layout that has multiple sections of content. For example, you might want to create
    a view with a standard header and footer section in which you can place banner advertisements.The
    default layout takes an entire view and displays the view in the location where
    the RenderBody() helper method is called. You might want to create a more complicated
    layout that has multiple sections of content. For example, you might want to create
    a view with a standard header and footer section in which you can place banner advertisements.The
    default layout takes an entire view and displays the view in the location where
    the RenderBody() helper method is called. You might want to create a more complicated
    layout that has multiple sections of content. For example, you might want to create
    a view with a standard header and footer section in which you can place banner advertisements.The
    default layout takes an entire view and displays the view in the location where
    the RenderBody() helper method is called. You might want to create a more complicated
    layout that has multiple sections of content. For example, you might want to create
    a view with a standard header and footer section in which you can place banner advertisements.The
    default layout takes an entire view and displays the view in the location where
    the RenderBody() helper method is called. You might want to create a more complicated
    layout that has multiple sections of content. For example, you might want to create
    a view with a standard header and footer section in which you can place banner advertisements.The
    default layout takes an entire view and displays the view in the location where
    the RenderBody() helper method is called. You might want to create a more complicated
    layout that has multiple sections of content. For example, you might want to create
    a view with a standard header and footer section in which you can place banner advertisements.
</p>
@section FooterSection{
This is footer section.
}
